<section class="cover unpad--bottom switchable bg--secondary text-center-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 mt--3">
        <h1>
          Let’s create something that your users will love
        </h1>
        <p class="lead">
          We're a software design and development agency that builds custom web and mobile products for our clients.
        </p>
        <a class="btn btn--primary type--uppercase" href="mailto:hi@brainana.com?Subject=Project%20Request&Body=-%20What%20kind%20of%20application%20do%20you%20want%20to%20build%3F%0A%0A-%20How%20long%20do%20you%20expect%20your%20project%20to%20be%20done%3F%0A%0A-%20How%20is%20your%20budget%3F" target="_blank" rel="noopener noreferrer">
          <span class="btn__text">
            Contact Us
          </span>
        </a>
      </div>
      <div class="col-sm-6">
        <img alt="Image" src="img/brainana-logo-tall.png"/>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-File-HTML icon--lg"></i>
          <div class="feature__body">
            <h5>Web Development</h5>
            <p>
              Write high-quality JavaScript, Ruby, Python, Go, and Elixir code.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Fountain-Pen icon--lg"></i>
          <div class="feature__body">
            <h5>UI and UX Design</h5>
            <p>
              Simplify your product with design sprints, research, and user research.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Smartphone icon--lg"></i>
          <div class="feature__body">
            <h5>Mobile Development</h5>
            <p>
              Build and release apps using iOS, Android or PWA.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Life-Safer icon--lg"></i>
          <div class="feature__body">
            <h5>Training &amp; Consultancy</h5>
            <p>
              Train your team for top technologies like Ruby/Rails, JavaScript/React.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="feature-large feature-large-2 bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-md-offset-1">
        <h3>Experience Quality</h3>
        <p class="lead">
          We build with customization and ease-of-use application for all your needs.
        </p>
      </div>
      <div class="col-sm-4 col-md-4">
        <img alt="Image" class="border--round box-shadow-wide" src="img/landing-7.jpg"/>
      </div>
      <div class="col-sm-4 col-md-3">
        <h3>Remote Working</h3>
        <p class="lead">
          You’ll be working with a small team remotely, using tools like Trello, Slack and GitHub to communicate frequently.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="cover height-80 imagebg text-center" data-overlay="6">
  <div class="background-image-holder">
    <img alt="background" src="img/education-1.jpg"/>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-6">
        <span class="h1">Customers love Brainana's robust and modern design</span>
        <p class="lead">
          Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="cta">
          <h2>Contact Us Now<br>And Begin Your Application!</h2>
          <p class="lead">
            Tell us more about your application, budget and how long do you expect it to be done. We'll reply you very soon.
          </p>
          <a class="btn btn--primary type--uppercase" href="mailto:hi@brainana.com?Subject=Project%20Request&Body=-%20What%20kind%20of%20application%20do%20you%20want%20to%20build%3F%0A%0A-%20How%20long%20do%20you%20expect%20your%20project%20to%20be%20done%3F%0A%0A-%20How%20is%20your%20budget%3F" target="_blank" rel="noopener noreferrer">
            <span class="btn__text">
              Contact Us
            </span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
