<section class="cover unpad--bottom switchable bg--secondary text-center-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 mt--3">
        <h1>
          Let’s create something that your users will love
        </h1>
        <p class="lead">
          We're a software design and development agency that builds custom web and mobile products for our clients.
        </p>
        <a class="btn btn--primary type--uppercase" href="mailto:hi@brainana.com" target="_blank" rel="noopener noreferrer">
          <span class="btn__text">
            Contact Us
          </span>
        </a>
      </div>
      <div class="col-sm-6">
        <img alt="Image" src="img/brainana-logo-tall.png"/>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-File-HTML icon--lg"></i>
          <div class="feature__body">
            <h5>Web Development</h5>
            <p>
              Write high-quality JavaScript, Ruby, Python, Go, and Elixir code.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Fountain-Pen icon--lg"></i>
          <div class="feature__body">
            <h5>UI and UX Design</h5>
            <p>
              Simplify your product with design sprints, research, and user research.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Smartphone icon--lg"></i>
          <div class="feature__body">
            <h5>Mobile Development</h5>
            <p>
              Build and release apps using iOS, Android or PWA.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="feature feature-5 boxed boxed--lg boxed--border">
          <i class="icon icon-Life-Safer icon--lg"></i>
          <div class="feature__body">
            <h5>Training/Consultancy</h5>
            <p>
              Train your team for top technologies including Ruby/Rails, JavaScript/React.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="feature-large feature-large-2 bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-md-offset-1">
        <h3>Experience Quality</h3>
        <p class="lead">
          We build with customization and ease-of-use application for all your needs.
        </p>
      </div>
      <div class="col-sm-4 col-md-4">
        <img alt="Image" class="border--round box-shadow-wide" src="img/landing-7.jpg"/>
      </div>
      <div class="col-sm-4 col-md-3">
        <h3>Experience quality</h3>
        <p class="lead">
          We build with customization and ease-of-use application for all your needs.
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="cover height-80 imagebg text-center" data-overlay="6">
  <div class="background-image-holder">
    <img alt="background" src="img/education-1.jpg"/>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-6">
        <span class="h1">Customers love Stack's robust and modern design</span>
        <p class="lead">
          Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away.
        </p>
        <div class="modal-instance block">
          <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
          <span>
            <strong>See Stack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
          <div class="modal-container">
            <div class="modal-content bg-dark" data-width="60%" data-height="60%">
              <iframe src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <!--end of modal-content-->
          </div>
          <!--end of modal-container-->
        </div>
        <!--end of modal instance-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>A trusted partner to the best</h2>
        <p class="lead">
          Working with the industries best and brightest minds to deliver outstanding results
        </p>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline list-inline--images">
          <li>
            <img alt="Image" src="img/partner-1.png"/>
          </li>
          <li>
            <img alt="Image" src="img/partner-5.png"/>
          </li>
          <li>
            <img alt="Image" src="img/partner-7.png"/>
          </li>
          <li>
            <img alt="Image" src="img/partner-4.png"/>
          </li>
          <li>
            <img alt="Image" src="img/partner-6.png"/>
          </li>
        </ul>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class=" ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="slider slider--inline-arrows" data-arrows="true">
          <ul class="slides">
            <li>
              <div class="row">
                <div class="testimonial">
                  <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                    <img class="testimonial__image" alt="Image" src="img/avatar-round-1.png"/>
                  </div>
                  <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                    <span class="h3">&ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.&rdquo;
                    </span>
                    <h5>Maguerite Holland</h5>
                    <span>Interface Designer &mdash; Yoke</span>
                  </div>
                </div>
              </div>
              <!--end of row-->
            </li>
            <li>
              <div class="row">
                <div class="testimonial">
                  <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                    <img class="testimonial__image" alt="Image" src="img/avatar-round-4.png"/>
                  </div>
                  <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                    <span class="h3">&ldquo;I've been using Medium Rare's templates for a couple of years now and Stack is without a doubt their best work yet. It's fast, performant and absolutely stunning.&rdquo;
                    </span>
                    <h5>Lucas Nguyen</h5>
                    <span>Freelance Designer</span>
                  </div>
                </div>
              </div>
              <!--end of row-->
            </li>
            <li>
              <div class="row">
                <div class="testimonial">
                  <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6 text-center">
                    <img class="testimonial__image" alt="Image" src="img/avatar-round-3.png"/>
                  </div>
                  <div class="col-md-7 col-md-offset-1 col-sm-8 col-xs-12">
                    <span class="h3">&ldquo;Variant has been a massive plus for my workflow &mdash; I can now get live mockups out in a matter of hours, my clients really love it.&rdquo;
                    </span>
                    <h5>Rob Vasquez</h5>
                    <span>Interface Designer &mdash; Yoke</span>
                  </div>
                </div>
              </div>
              <!--end of row-->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="text-center imagebg" data-gradient-bg='#4876BD,#5448BD,#8F48BD,#BD48B1'>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="cta">
          <h2>Purchase Stack now and get lifetime free content updates</h2>
          <p class="lead">
            Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
          </p>
          <a class="btn btn--primary type--uppercase" href="#">
            <span class="btn__text">
              Purchase on Envato
            </span>
            <span class="label">$17 USD</span>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
